.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /* banner style */
  .banner-container{
    width: 80%;
    height: 70vh;
    background-color:rgba(198, 228, 214, 1);
    position:center;
    margin: 0 auto;

  }
  .banner-box{
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 50px;
  }
  .banner-title{
    padding: 70px;
  }
  .title-text{
    font-weight: 900;
    font-size: 70;
  }
  /* btn-color */
  .btn-color{
    background-color: rgba(0, 106, 80, 1);
    color: white;
  }
  button{
    font-size: medium;
  }
  /* pillars style */
  .pilars{
    margin: 0 auto;
  }
  .pillars-container{
    display:flex ;
    padding-left: 180px;
    
  }
  .box{
    width:250px ;
    padding:20px;
    border: 0.3px solid gray;
    border-radius: 10px;
  }
.pillars-text{
    padding-left: 170px;
}
  
  /* vision style */
  .vision{
    width: 80%;
    height: 477;
    padding-left: 100px;
    padding-right: 30px;
    margin: 0 auto;
  }
  .vision-container{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    
    
  }
  .vision-box-1{
    background-color:rgba(84, 144, 245, 0.2) ;
    width:450px ;
    padding: 30px;
    border-radius:20px ;
  }
  .vision-box-2{
    background-color: rgba(198, 228, 214, 1);
    width:440px ;
    padding: 30px;
    border-radius:20px ;
  }
  .vision-box-3{
    background-color: rgba(247, 235, 207, 1);
    width:440px ;
    padding: 30px;
    border-radius:20px ; 
  }
  .btn-1{
    background-color:rgba(84, 144, 245, 1) ;
    color:white ;
  }
  .btn-3{
    background-color:rgba(255, 194, 57, 1) ;
    color: white;
  }
  /* survey style */
  .container{
    width: 70%;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0,1);
  }
  .table-cotanier{
    margin-top: 20px;
  }
  table{
    width: 100%;
    height:300px;
    border-collapse: collapse;
    border: 1px solid gray;
  }
  th,td{
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid black;
  }
  th{
    background-color: #cce5cc;
    font-weight: bold;
  }
  .border{
    text-align: center;
  }
  select{
    border-left: 1px solid black;
    width: 100px;
    padding: 8px;
    /* border: 1px solid black; */
    border-radius: 5px;
    cursor: pointer;
    background-color:#cce5cc ;
    color: white;
  }
  .left{
    text-align: left;
  }
  .do{
    text-align: left;
  }
  .yes{
    text-align: right;
    background-color: rgba(9, 161, 92, 0.15);
    color: white;
  }
  /* recent News */
  .recent-box-1{
    width: 80%;
    display: flex;
    justify-content: space-between;
   margin: 0 auto;
  }
  .recent-box-2{
    width: 80%;
    display: flex;
    justify-content: space-between;
   margin: 0 auto;
  } 
  .recent-box-3{
    width: 80%;
    display: flex;
    justify-content: space-between;
   margin: 0 auto;
  }
  .recent-title{
    padding-left: 170px;
  }
  .btn-read{
    background-color: rgba(0, 106, 80, 1);
    color: white;
    border: 1px solid green;
    border-radius: 5px;}
/* donite */
.body{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 70vh; */
  /* background-color: #f5f5f5; */
  padding: 160px;
}
.donation-containe{
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px ;
}
h1{
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}
.description{
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.5;
}
.amount-option{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.amount-btn{
  flex: 1;
  margin: 5px;
  padding: 12px;
  border: 2px solid#ddd;
  background-color:white ;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.35;
}
.amount-btn:hover{
  background-color: #f0f0f0;
}
.custom-amount{
  display: center;
  width:0 auto ;
padding-left: 20px;
border: 1px solid rgb(249, 247, 247);
background-color: white;
color:gray;
font-size: 16px;
font-weight: bold;
cursor: pointer;
transition: 0.3;
}
.donate-btn:hover{
background-color: #004d00;
}
/* footer */
.icon-box{
  display: flex;
  gap: 20px;
  padding-left: 720px;
  
}
.end{
  text-align: center;
}